	/*
	a:link {
		color: dodgerblue;
		text-decoration: underline;
	}
	a:visited {
		color: dodgerblue;
		text-decoration: underline;
	}
	a:active {
		color: red;
		text-decoration: underline;
	}
	*/
	body {
		background-color: white;
		color: black;
		}

	table {
		border: 1px solid black;
		border-collapse: collapse;
		width: 100%;
		margin-top: 200px; /*NavBar와 표가 겹치지 않게 설정*/
		}
	th {
		border: 3px solid black;
		}
	td {
		border: 1px solid black;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
		}
	.headerWeekday {/*평일상세페이지의 제목 및 표헤더*/
		color: mediumseagreen;
		text-align: center;
		}
	.headerFriday {/*금요일상세페이지의 제목 및 표헤더*/
		color: royalblue;
		text-align: center;
		}
	.headerWeekend {/*주말상세페이지의 제목 및 표헤더*/
		color: tomato;
		text-align: center;
		}
	.headerTour {/*관광열차상세페이지의 제목 및 표헤더*/
		color: darkgoldenrod;
		text-align: center;
		}
	.headerNote {/*노트페이지의 제목 및 표헤더*/
			color: orchid;
			text-align: center;
	}	

	
	

	
	.cgu {/*center line general up 중앙선 일반 상행*/
		color: none;
		}
	.cgd {/*center line general down 중앙선 일반 하행*/
		font-weight: bold;
		color: red;
		}
	.cku {/*center line KTX up 중앙선 KTX 상행*/
    color: none;
		}
	.ckd	{/*center line KTX down 중앙선 KTX 하행*/
		font-weight: bold;
		color: red;
		}
	.gku {/*강릉선 KTX 상행*/
		color: none;
	}
	.gkd {/*강릉선 KTX 하행*/
		font-weight: bold;
		color: red;
	}

	.down {
		font-weight: bold;
		color: red;
	}
	.up {
		color: none;
	}
	
	.arirangUp {/*관광열차상행*/
		color: none;
	}
	
	.arirangDown {/*관광열차하행*/
		font-weight: bold;
		color: red;
	}


/*------------버튼 디자인--------------*/
	.indexWeekdayButton:active
	{
		box-shadow: 0px 5px silver;
		transform: translateY(4px);
	}

	.indexFridayButton:active
	{
		box-shadow: 0px 5px silver;
		transform: translateY(4px);
	}

	.indexWeekendButton:active
	{
		box-shadow: 0px 5px silver;
		transform: translateY(4px);
	}

	.indexTourButton:active
	{
		box-shadow: 0px 5px silver;
		transform: translateY(4px);
	}

	.indexWonjusiButton:active
	{
		box-shadow: 0px 5px silver;
		transform: translateY(4px);
	}
/* 버전1의 상세페이지 최상단 버튼
  .weekdayButton {
      background-color: mediumseagreen;
      border: none;
      color: white;
      text-align: center;
      font-size: 20px;
      cursor: pointer;
      width: 21%;
      margin-top:1px;
      margin-right:0%;
      margin-bottom:0%;
      margin-left:3%;
      padding-top:10px;
      padding-right:1px;
      padding-bottom:10px;
      padding-left:1px;
      display: inline-block;
    }
    .fridayButton {
      background-color: royalblue;
      border: none;
      color: white;
      text-align: center;
      font-size: 19px;
      cursor: pointer;
      width: 20%;
      margin-top:1%;
      margin-right:0%;
      margin-bottom:0%;
      margin-left:4%;
      padding-top:1px;
      padding-right:1px;
      padding-bottom:1px;
      padding-left:1px;
      display: inline-block;
    }
    .weekendButton {
      background-color: tomato;
      border: none;
      color: white;
      text-align: center;
      font-size: 19px;
      cursor: pointer;
      width: 20%;
      margin-top:1%;
      margin-right:0%;
      margin-bottom:0%;
      margin-left:4%;
      padding-top:1px;
      padding-right:1px;
      padding-bottom:1px;
      padding-left:1px;
      display: inline-block;
    }
    .tourButton {
      background-color: goldenrod;
      border: none;
      color: white;
      text-align: center;
      font-size: 19px;
      cursor: pointer;
      width: 20%;
      margin-top:1%;
      margin-right:0%;
      margin-bottom:0%;
      margin-left:20%;
      padding-top:1px;
      padding-right:1px;
      padding-bottom:1px;
      padding-left:1px;
      display: inline-block;
    }

		.noteButton {
			background-color: orchid;
			color: white;
			text-decoration: none;
			text-align: center;
			border: none;
			display: inline-block;
			cursor: pointer;
			font-size: 20px;
			width:30%;
			margin-top:1%;
      margin-right:35%;
      margin-bottom:0%;
      margin-left:35%;
      padding-top:1px;
      padding-right:1px;
      padding-bottom:1px;
      padding-left:1px;
		
	}
*/
	.indexWeekdayButton {/*메인페이지의평일버튼*/
			background-color: mediumseagreen;
			color: black;
			text-decoration: none;
			text-align: center;
			border: none;
			display: inline-block;
			cursor: pointer;
			font-size: 36px;
			width: 86%;
			padding: 30px 10px;
			margin: 10px 7%;
			border-radius: 50px;
			box-shadow: 0px 10px seagreen;	
	}
	.indexFridayButton {/*메인페이지의금요일버튼*/
			background-color: royalblue;
			color: black;
			text-decoration: none;
			text-align: center;
			border: none;
			display: inline-block;
			cursor: pointer;
			font-size: 36px;
			width: 86%;
			padding: 30px 10px;
			margin: 10px 7%;
			border-radius: 50px;
			box-shadow: 0px 10px steelblue;	
	}
	.indexWeekendButton {/*메인페이지의주말버튼*/
			background-color: tomato;
			color: black;
			text-decoration: none;
			text-align: center;
			border: none;
			display: inline-block;
			cursor: pointer;
			font-size: 36px;
			width: 86%;
			padding: 30px 10px;
			margin: 10px 7%;
			border-radius: 50px;
			box-shadow: 0px 10px firebrick;	
	}
	.indexTourButton {/*메인페이지의관광열차버튼*/
			background-color: darkgoldenrod;
			color: black;
			text-decoration: none;
			text-align: center;
			border: none;
			display: inline-block;
			cursor: pointer;
			font-size: 35px;
			width: 86%;
			padding: 30px 10px;
			margin: 10px 7%;
			border-radius: 50px;
			box-shadow: 0px 10px sienna;
	}

	.indexWonjusiButton
	{
		background-color: lightskyblue;
		color: darkslategray;
		text-decoration: none;
		text-align: center;
		border: none;
		display: inline-block;
		font-size: 36px;
		width: 86%;
		padding: 30px 10px;
		margin: 10px 7%;
		border-radius: 20px;
		box-shadow: 0px 10px steelblue;
	}
  	
	.indexNoteButton {/*메인페이지의노트버튼*/
			background-color: orchid;
			color: black;
			text-decoration: none;
			text-align: center;
			border: 2px solid red;
			display: inline-block;
			cursor: pointer;
			font-size: 20px;
			width:28%;
			padding: 10px;
			margin-top: 50px;
      margin-right: 0%;
      margin-bottom: 50px;
      margin-left: 4%;
			border-radius: 10px;
	}

	.indexMainButton
	{
		background-color: darkgray;
		color: azure;
		text-decoration: none;
		text-align: center;
		display: inline-block;
		font-size: 10px;
		width: 10%;
		border: none;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 90%;
		padding: 0px;
	}


	

	.lightButton {/*메인페이지의 밝음모드버튼*/
			background-color: azure;
			color: black;
			text-decoration: none;
			text-align: center;
			border: 2px solid red;
			display: inline-block;
			cursor: pointer;
			font-size: 20px;
			width:28%;
			padding: 10px;
		  margin-top: 50px;
      margin-right: 0%;
      margin-bottom: 50px;
      margin-left: 4%;
			border-radius: 10px;
	}
	.darkButton {/*메인페이지의 다크모드버튼*/
			background-color: darkslategray;
			color: white;
			text-decoration: none;
			text-align: center;
			border: 2px solid red;
			display: inline-block;
			cursor: pointer;
			font-size: 20px;
			width:28%;
			padding: 10px;
      margin-top: 50px;
      margin-right: 0%;
      margin-bottom: 50px;
      margin-left: 4%;
			border-radius: 10px;
	}
	


	/*Navigation Bar*/

  
	
	
			